
#primary{
    background-color: green;
}
#secondary{
    background-color: yellow;
}

@media screen and (min-width: 480px) {
    #primary{
        background-color: aqua;
    }
    #secondary{
        background-color: brown;
    }
}
